/*
* TOC
*
* HEADER
* - LOGO
* - MENU
* - ITEMS MENU
*/

/* >HEADER */
.header {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding: 30px;
  position: fixed;
  width: 100%;
  z-index: 999;

  @media (max-width:768px) {
    background-color: $color4;
    flex-direction: column;
  }

}

/* >> LOGO */
.header__logo {
  height: 100%;
  width: 200px;

  img {
    height: 100%;
    width: 100%;
  }

}

/* >> ITEMS MENU */
.header__menu-item {
  a {
    color: $color3;
    font-family: $lato_regular;
    font-size: 16px;

    &:hover {
      color: $color5;
    }

  }

  .active {
    color: $color5;
  }

}

/* >> HERO */
.hero__wrapper {
  width: 100%;
  min-height: 100%;
  padding-top: 100px;
  background-color: blue;
  display: flex;
  justify-content: center;

  h1 {
    color: $color3;
    font-family: $lato_light;

    @media (min-width:768px) {
      font-size: 72px;
    }

  }

}