/*
* TOC
*
* - SERVICES
* - CUSTOMERS
*/

/*  >>SERVICES */
.section__title {
  margin-bottom: 40px;
}

.section__btn {
  background-color: transparent;
  font-family: $lato_medium;
  font-size: 24px;
  margin: 0 auto 30px auto;
  text-transform: uppercase;
  width: 200px;
}

.section__btn--blue {
  box-shadow: 0px 1px 3px #000;
}

.section__btn--white {
  box-shadow: 0px 1px 3px #fff;
}

.services__wrapper {
  padding: 30px 0;
}

.services__box {
  padding: 20px;

  .services__img {
    height: 80px;
    margin: 0 auto 15px auto;
    width: 80px;
  }

  .services__title {
    font-family: $lato_bold;
    font-size: 18px;
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  .services__description {
    margin-bottom: 18px;

    .services__description-text1 {
      font-family: $lato_medium;
      font-size: 16px;
    }

  }

}

.services__description-text2,
.services__list,
.section__title {
  font-family: $lato_light;
  font-size: 16px;
}

.services__list {
  margin: 0;
  padding: 0;
}

/* >>CUSTOMERS*/
.customers {
  background-color: $color5;
}

.customers__box {
  background-color: red;
  height: 150px;
  margin-bottom: 25px;
  width: 100%;
}

/* >>CONTACT*/
.contact {
  background-color: $color3;
}

.contact__title {
  color: $color2;
  font-family: $lato_light;
  font-size: 14px;
}

.contact__form {
  input {
    border: none;
    border-bottom: 1px solid $color2;
    border-radius: 0;
    font-family: $lato_light;
    font-size: 14px;
  }

}

.contact__address {
  color: $color2;
  font-family: $lato_light;
  font-size: 12px;
  margin-top: 40px;

  p {
    line-height: 2px;
  }

}

.contact__send {
  background-color: $color5;
  border-radius: 0 !important;
  color: $color3;
  height: 30px;
  padding: 0 !important;
  text-transform: uppercase;
  width: 100px;
}

.contact__map-wrapper {
    @media (max-width:768px) {
      height: 300px;
      margin-bottom: 30px;
      order: -1;
    }
}

.contact__map {
  background-color: gray;
  height: 100%;
  width: 100%;
}

/* >>FOOTER*/
.footer {
  background-color: $color4;
  color: $color3;
  font-family: $lato_light;
  padding: 40px;
}

.services,
.customers,
.contact {
  padding: 50px 0;
}