/*
* TOC
*
* COLORES Y CLASES
* FUENTES
*/

/* >COLORES Y CLASES*/

$color1: #00000a;

.color1{
  color: $color1;
}

$color2: #6c6c6c;

.color2{
  color: $color2;
}

$color3: #fff;

.color3{
  color: $color3;
}

$color4: #0c2551;

.color4{
  color: $color4;
}

$color5: #fe8f1e;

.color5{
  color: $color5;
}


/* >FUENTES */

$lato_bold: 'latobold';
$lato_light: 'latolight';
$lato_medium: 'latomedium';
$lato_regular: 'latoregular';

